<!DOCTYPE html>
<html>
<head>
    <title>learn-node-demo</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div style="text-align: center">壮love倩</div>
  <div style="text-align: center">forever</div>
</body>
</html>