<!DOCTYPE html>
<html>
<head>
    <title>learn-node-demo</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
  <div>欢迎来到strong的博客，下面是我写的一些小demo。</div>
</body>
</html>